.navLink, nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-left: 15px;
}

.nav-container {
    background: #182027;
    height: 50px;
    color: white;
}

.navLink, .navForm {
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.navForm {
    padding-top: 12px;
    float: right;
}

.navInput {
    border-radius: 5px;
    font-size: 17px;
    margin-right: 10px;
}

input:focus {
    outline: none;
}

button {
    background: darkcyan;
    border-radius: 5px;
    border-style: none;
    height: 25px;
    width: 80px;
    cursor: pointer;
}

nav ul li:hover, .navLink:hover {
    color: darkcyan;
    cursor: pointer;
}

.navLink {
    text-decoration: none;
    color: white;
}