nav {
    display: flex;
}

.navbar-right {
    display: flex;
    margin-left: 925px;
}

.nav-element {
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

.home-page-link {
    font-weight: bold;
}