body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

main {
  top: 50px;
  bottom: 50px;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/images/landing-page-image.jpg');
  background-size: cover;
  height: inherit;
  background-color: darkslategray;
  color: whitesmoke;
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.navLink:hover, .footerNavLink:hover {
  color: darkcyan;
  cursor: pointer;
}

.navLink, .footerNavLink {
  text-decoration: none;
  color: white;
}